
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  .header4{
    display: none;
  }
  .but{
    display: none;
  }
  .header2{
    background-color:#BBDEFB;
    position: relative;
    left: 300px; 
    top: 80px;
    max-width: 900px;
  }
  .header3 li{
    list-style: none;
      position: relative;
      left: 0px;
      bottom: 10px;
      font-size: 15px;
      width: 27%;
      display: inline-block;
      padding: 20px 0px 39px 40px;
   
  }   
  input {
    width: 22%;
      box-shadow: 0px 1px 4px #bbdefb;
      bottom: 48px;
      position: relative;
      display: inline-block;
      left: -35px;
      padding: 10px 10px 10px 10px;
      margin-left: 40px;
      border: none;
      background: #90CAF9;
      outline: none;
    }
    body {
    background-color: #E3F2FD;
  }
  ul {
      margin-top: 0;
      margin-bottom: 10px;
      list-style-type: none;
    }
    .pesquisa{
      position: relative;
      left: 20px;
      bottom: 45px;
      width: 80px;
      height: 65px;
      background: #BBDEFB;
      border: none;
    }
    .fa-search:before {
      content: "\f002";
      font-size: 48px;
    }
    .button {
      background-color: #BBDEFB;
      border: none;
      font-size: 16px;
      margin: 4px 2px;
      width: 900px;
      top: 30px;
      position: relative;
      padding: 21px;
      margin-left: 300px;
  }

  header{
    z-index: 1;
    position: fixed;
    background: #64B5F6;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
  }
  
  .left_area img{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  

  .logout_btn{
    padding: 5px;
    background: #BBDEFB;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }
  
  .sidebar{
    z-index: 1;
    top: 0;
    background: #90CAF9;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4{
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a{
    color: #545454;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  .content{
    width: 900px;
    margin-top: 110px;
    padding: 20px;
    height: 100px;
    transition: 0.5s;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }
  
  #check{
    display: none;
  }
  
  .mobile_nav{
    display: none;
  }
  
  /* Responsive CSS */
  
  @media screen and (max-width: 780px){
    .sidebar{
      display: none;
    }
  
    #sidebar_btn{
      display: none;
    }
  
    .content{
  display: none;
    }
  .but{
    display: block;
  }
  .header4{
    display: block;
  }
  
    .mobile_nav{
      display: block;
      width: calc(100% - 0%);
    }
  
    .nav_bar{
      background: #90CAF9;
      width: (100% - 0px);
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  
    .nav_bar .mobile_profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  
    .nav_bar .nav_btn{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }
  
    .nav_bar .nav_btn:hover{
      color: #19B3D3;
    }
  
    .mobile_nav_items{
      background: #90CAF9;
      display: none;
    }
  
    .mobile_nav_items a{
      color: #fff;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
    }
  
    .mobile_nav_items a:hover{
      background: #19B3D3;
    }
  
    .mobile_nav_items i{
      padding-right: 10px;
    }
  
    .active{
      display: block;
    }
  
.content{
  display:none;
}
.resp{
  width: 580px;
  margin-top: 110px;
  padding: 20px;
  height: 50px;
  transition: 0.5s;
}
.header4{
  background-color:#BBDEFB;
  position: relative;
  top: 80px;
}

input {
  width: 100px;
    box-shadow: 0px 1px 4px #bbdefb;
    bottom: 10px;
    position: relative;
    display: inline-block;
    padding: 10px 5px 10px 10px;
    border: none;
    background: #90CAF9;
    outline: none;
  }

  .but {
    background-color: #BBDEFB;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
    top: 10px;
    position: relative;
    padding: 21px;
}
.pesqu{
  position: relative;
  left: 20px;
  width: 80px;
  height: 65px;
  background: #BBDEFB;
  border: none;
}
.fa-search:before {
  content: "\f002";
  font-size: 30px;
}
.label-float{
  position: relative;
    padding-top: 13px;
  }
  
  .label-float input{
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    border-radius: 0;
  }
  
  .label-float input:focus{
    border-bottom: 2px solid #3951b2;
  }
  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
  }
  
  .label-float input:required:invalid + label{
    color: red;
  }
  .label-float input:focus:required:invalid{
    border-bottom: 2px solid red;
  }
  .label-float input:required:invalid + label:before{
    content: '*';
  }
  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    margin-top: 0;
    color: #3951b2;
  }
    /*.mobile_nav_items{
      background: #2F323A;
      overflow: hidden;
      max-height: 0;
      transition: 0.5s;
      transition-property: max-height;


              background-color: #90CAF9;
        border: none;
        margin-bottom: 10px;
        font-size: 14px;
        opacity: 0.8;
        color: white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        padding: 80px 50px;
        display: block;
    }
  
    .mobile_nav_items a{
      color: #fff;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
    }
  
    .mobile_nav_items a:hover{
      background: #19B3D3;
    }
  
    .mobile_nav_items i{
      padding-right: 10px;
    }
  
    .active{
      max-height: 1000px;
    }*/
  }
